* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: auto;
    height: auto;
    margin: 8px;
}

.header {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: auto;
}

.header .logo {
    width: 15rem;
    height: auto;
}

.home_link {
    text-decoration: none;
}

.header .banner {
    width: 18rem;
    height: auto;
    padding-bottom: 2rem;
}

.top_content {
    display: flex;
    background: rgb(0,64,152);
    margin-bottom: 1rem;
    color: white;
}

.top_content .top_content_info {
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

.top_content img {
    width: 25%;
    height: 100%;
}

.main_content .self_help_article_section {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: auto;
    border: rgb(0, 64, 152) solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 3.5rem;
    background: lightblue;
}

.main_content .self_help_article_button {
    color: white;
    background: rgb(0, 50, 119);
    border-radius: 10px;
    width: 125px;
    height: 25px;
    margin-top: 0.5rem;
}

.main_content .suggestion_message_section {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    border: rgb(0, 64, 152) solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    background: lightblue;
}

.main_content .suggestion_message_section table {
    table-layout: fixed;
    width: 100%;
    margin-top: 0.5rem;
}

.main_content .suggestion_message_section table,
th,
td {
    border: grey solid;
    padding: 0.3rem;
}

.main_content .view_message_button {
    color: white;
    background: rgb(0, 50, 119);
    border-radius: 10px;
    width: 125px;
    height: 25px;
}
