* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1920px;
    height: 1080px;
    margin: 8px;
}

.header .logo {
    width: 15rem;
    height: auto;
}

.home_link {
    text-decoration: none;
}

.header .banner {
    width: 18rem;
    height: auto;
    padding-bottom: 2rem;
}

.main_content {
    padding-top: 0.2rem;
}

.suggestion_link {
    text-decoration: none;
    color: rgb(0, 64, 152);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.suggestion_link:hover {
    text-decoration: underline;
    color: rgb(0, 50, 119);
}
