{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static 'css\all_self _help_articles.css' %}"
        />
        <title>All Self Help Articles</title>
    </head>

    <body>
        <div id="wrapper">
            <div class="header">
                <a class="home_link" href="/home_page">
                    <img
                        class="logo"
                        src="{% static 'images\toray_logo.jpg' %}"
                    />
                </a>

                <img
                    class="banner"
                    src="{% static 'images\toray_banner.jpg' %}"
                />
            </div>

            <div class="top_content">
                <div class="top_content_info">
                    <h2>Add Self-Help Article</h2>

                    <p>
                        Here you can add, edit ,and delete self-help articles to
                        the catalog.
                        <br />
                        The articles are stored on the server for end-users to
                        access. They are not submitted to the database.
                        <br />
                        Thank you!
                    </p>
                </div>
                <img src="{% static 'images\it_pic.jfif' %}" />
            </div>

            <div class="main_content">
                <form
                    action="/admin_page/all_self_help_articles/add_self_help_article"
                >
                    <input
                        class="add_article_button"
                        type="submit"
                        value="Add Self Help Article"
                    />
                </form>

                <div class="all_articles">
                    <table class="all_articles_section">
                        <thead class="column_names">
                            <tr>
                                <th>Name of Article</th>
                                <th>Last Updated By</th>
                                <th>Document Location</th>
                                <th>Edit Article</th>
                            </tr>
                        </thead>
                        {% for articles in self_help_articles %}
                        <tbody>
                            <tr>
                                <th>{{ articles.title }}</th>
                                <th>{{ articles.last_updated_by }}</th>
                                <th>{{ articles.document_location}}</th>
                                <td>
                                    <form
                                        action="/admin_page/all_self_help_articles/{{ articles.id }}/edit_articles"
                                    >
                                        <input
                                            class="edit_button"
                                            type="submit"
                                            value="Edit Article"
                                        />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="link_wrapper">
                <h4>Quick Admin Links:</h4>

                <a class="admin_page_link" href="/admin_page">Admin Page</a>

                <a
                    class="all_article_link"
                    href="/admin_page/all_self_help_articles"
                    >All Self-Help Articles
                </a>

                <a
                    class="add_article_link"
                    href="/admin_page/all_self_help_articles/add_self_help_article"
                    >Add Self-Help Article</a
                >
            </div>
        </div>
    </body>
</html>
