{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css\desktop_links.css' %}" />
        <title>Desktop Links</title>
    </head>

    <body>
        <div id="wrapper">
            <div class="header">
                <!-- Images need to be addressed -->
                <a href="TBD"
                    ><img class="logo" src="static\images\temp_image.jpeg" />
                </a>

                <img class="banner" src="static\images\temp-banner.jpg" />
            </div>

            <div class="main_content">
                <img class="main_image" src="static\images\temp_image.jpeg" />
            </div>
        </div>
    </body>
</html>
