{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css\home_page.css' %}" />
        <title>IT Self-Help Catalog</title>
    </head>

    <body>
        <div id="wrapper">
            <div class="header">
                <a class="home_link" href="/home_page">
                    <img
                        class="logo"
                        src="{% static 'images\toray_logo.jpg' %}"
                    />
                </a>

                <img
                    class="banner"
                    src="{% static 'images\toray_banner.jpg' %}"
                />
            </div>

            <div class="link_wrapper">
                <a class="cherwell_link" href="https://www.google.com/"
                    >Cherwell
                </a>

                <a class="suggestion_link" href="/home_page/suggestion_message"
                    >Have a suggestion?
                </a>
            </div>

            <div class="main_content">
                {% for articles in self_help_articles %}
                <div class="article_entry">
                    <h3>{{ articles.title }}</h3>
                    <p>{{ articles.description }}</p>
                    <a href="{{ articles.document_location }}">View Document</a>
                </div>
                {% endfor %}
            </div>

            <div class="side_content">
                <img src="{% static 'images\computer_image.jpg' %}" />
            </div>
        </div>
    </body>
</html>
