{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css\searched_db.css' %}" />
        <title>IT Self-Help Catalog</title>
    </head>

    <body>
        <div id="wrapper">
            <div class="header">
                <a class="home_link" href="/home_page">
                    <img
                        class="logo"
                        src="{% static 'images\toray_logo.jpg' %}"
                    />
                </a>

                <img
                    class="banner"
                    src="{% static 'images\toray_banner.jpg' %}"
                />
            </div>

            <div class="search_bar">
                <form method="POST" action="{% url 'searched_db' %}">
                    {% csrf_token %}

                    <input
                        class="search_box"
                        type="search"
                        placeholder="Search Articles"
                        name="searched"
                    />
                    <button class="search_submit">Search</button>
                </form>
            </div>

            <div class="top_content">
                <div class="top_content_info">
                    <h2>Article Search</h2>

                    <p>
                        Please see below for your search results.
                        <br />
                        If you have any question please contact Help Desk via
                        email at helpdesk@toraycma.com or call extension 1167.
                        <br />
                        Thank you! 
                    </p>
                </div>
                <img src="{% static 'images\search_result.jpeg' %}" />
            </div>

            <div class="main_content">
                {% if searched %}
                    <h3>You searched: {{ searched }}</h3>
                    {% if self_help_articles %}
                        {% for self_help_article in self_help_articles %} 
                            <br />
                                <div class="article_entry">
                                    <h3>{{ self_help_article.title }}</h3>
                                    <p>{{ self_help_article.description }}</p>
                                    <a href="{{ self_help_article.document_location }}">View Document</a>
                                </div>
                            {% endfor %} 
                    {% else %}
                        <h3>No article was found. Please submit a help desk request if you would like this topic added.</h3>
                    {% endif %}
                {% endif %}
            </div>

            <div class="link_wrapper">
                <h4>Helpful links below:</h4>

                <a class="suggestion_link" href="/home_page/suggestion_message"
                    >Have a suggestion?
                </a>

                <a class="CATSWeb_link" href="https://catsweb.corp.toraycma.com/assurx/main.aspx"
                    >CATSWeb
                </a>

                <a class="cherwell_link" href="https://ITHelpDesk.corp.toraycma.com/CherwellPortal/IT/winlogon"
                    >IT Help Desk
                </a>

                <a class="CATSWeb_link" href="https://catsweb.corp.toraycma.com/assurx/main.aspx"
                    >CATSWeb
                </a>

                <a class="dynamics_link" href="https://toray-prod.operations.dynamics.com/"
                    >Dynamics
                </a>

                <a class="maintenance_connection_link" href="https://mc.toraycma.com/mc_web/onsite/loginHub/login?ReturnUrl=%2Fmc_web%2Fonsite%2FloginHub%2F"
                    >Maintenance Connection
                </a>

                <a class="master_control_link" href="https://mastercontrol.corp.toraycma.com/mc/login/index.cfm?"
                    >Master Control (Must Use Google Chrome)
                </a>

                <a class="sds_management_link" href="https://otis.osmanager4.com/toraycompositematerials#/chemical/righttoknow?rtkid=98ee40bd-4dc4-4745-8371-08108b3944f5&hv=B6F42C6531Z01469689124E78F80C313"
                    >SDS Management
                </a>
            </div>
        </div>
    </body>
</html>
