{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css\view_suggestion.css' %}" />
        <title>View Suggestion Message</title>
    </head>

    <body>
        <div id="wrapper">
            <div class="header">
                <a class="home_link" href="/home_page">
                    <img
                        class="logo"
                        src="{% static 'images\toray_logo.jpg' %}"
                    />
                </a>

                <img
                    class="banner"
                    src="{% static 'images\toray_banner.jpg' %}"
                />
            </div>

            <div class="top_content">
                <div class="top_content_info">
                    <h2>Suggestion Messages</h2>

                    <p>
                        You are viewing a suggestion message submitted by an
                        end-user.
                        <br />
                        Please determine how to proceed in addressing the
                        suggestion.
                        <br />
                        Thank you!
                    </p>
                </div>
                <img src="{% static 'images\teamwork.jpg' %}" />
            </div>

            <div class="main_content">
                <div class="suggestion_message">
                    <div class="message_sent">
                        <p>{{ suggestion_messages.message }}</p>
                    </div>

                    <h5>
                        Submitted by: {{ suggestion_messages.submitted_by }}
                    </h5>
                    <h5>Submitted at: {{ suggestion_messages.created_at }}</h5>

                    <button class="delete_btn">Delete Message</button>
                </div>

                <div class="delete_window hidden">
                    <button class="close_btn">&times;</button>
                    <p>Would you like to delete this message?</p>

                    <form
                        action="/admin_page/{{ suggestion_messages.id }}/delete_suggestion_message"
                    >
                        <input class="yes_btn" type="submit" value="Yes" />
                    </form>

                    <button class="no_btn">No</button>
                </div>
            </div>

            <div class="link_wrapper">
                <h4>Quick Admin Links:</h4>

                <a class="admin_page_link" href="/admin_page">Admin Page</a>

                <a
                    class="all_article_link"
                    href="/admin_page/all_self_help_articles"
                    >All Self-Help Articles
                </a>

                <a
                    class="add_article_link"
                    href="/admin_page/all_self_help_articles/add_self_help_article"
                    >Add Self-Help Article</a
                >
            </div>
        </div>
        <div class="overlay hidden"></div>
    </body>
    <script src="{% static 'javascript\view_suggestion.js' %}"></script>
</html>
